.App {
  text-align: center;
  background-color: #eee;
}

.App-header {
  background-color: #32559c;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: white;
}

.App-link {
  color: #61dafb;
}

